{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% include '_app_menu_cz.html.twig' %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <p><button type="submit">Uložit</button></p>
    {{ form_end(form) }}
    <p><a href="{{ path('warehouse_spool_index') }}">← zpět na seznam</a></p>
{% endblock %}
